body{
	font-family:$openSans;
}
li {
	display: inline-block;
}
a {
	color:$darkGray;
	text-decoration: none;
}
.uppercase{
	text-transform: uppercase;
}
.underline{
	text-decoration: underline;
}
section{
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.container-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
  .item{
    cursor: pointer;
    padding: 10px ;
    width: 33%;
    border:5px solid white;
    background: $darkGray;
    color: $white;
    box-sizing: border-box;
    .title-card{
      margin: 5px 0;

    }
    &:hover{
      background: $yellow;
      color:$darkGray;
    }
  }
}
.btn-more{box-sizing: border-box;
  background: $skyBlue;
  padding: 10px 20px;
  color:$white;
  cursor: pointer;

}
